<?xml version="1.0" encoding="UTF-8"?>
<persistence  xmlns="http://xmlns.jcp.org/xml/ns/persistence"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
              http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
              version="2.1">
    <persistence-unit name="forecast_persistence">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/forecast</jta-data-source>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.RegionalForecast</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.City</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.Forecast</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.Alert</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.CurrentForecast</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.DailyData</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.DailyForecast</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.HourlyData</class>
        <class>com.djr4488.wiichannelfeeder.forecastchannel.service.forecaststore.HourlyForecast</class>
        <properties>
            <property
                    name="eclipselink.loggin.level.sql"
                    value="FINE"/>
            <property
                    name="eclipselink.logging.parameters"
                    value="true"/>
            <property
                    name="eclipselink.ddl-generation.output-mode"
                    value="database"/>
            <property
                    name="eclipselink.ddl-generation"
                    value="create-or-extend-tables"/>
        </properties>
    </persistence-unit>
</persistence>